*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#back{
    width: 100%;
    height:100svh;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
    background-color: coral;
}

